{% extends 'base.html.twig' %}

{% block title %}Snow Tricks{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="container row">
        <div class="mb-4 col-md-8">
            <img src="https://user.oc-static.com/upload/2016/11/17/14793747168201_snowboard_neige_figure_saut_shutterstock_3516624621.jpg" class="card-img-top" alt="Accroche HTML" />
            <div class="card-body">
                <h1 class="card-title h4"> {{ figure.name }} </h1>
                <p class="card-text h6 text-justify py-2"> {{ figure.description }} </p>

                    {% if is_granted('ROLE_ADMIN') %}

                <a href="{{ path('app_figure_edit', {'id': figure.id}) }}"  class="btn btn-primary">Editer</a>
                <a href="{{ path('app_figure_delete', {'id': figure.id}) }}"  class="btn btn-danger">Supprimer</a>

                     {% endif %}

               {% if is_granted('ROLE_ADMIN') %}  <a href="{{ path('app_message', {'id': figure.id}) }}"  class="btn btn-dark">Chat</a><br/> {%endif%}
            </div>
            <a href="{{ path('app_main')}}"  class="btn btn-light ml-auto">Retour aux figures</a>

        </div>

        <div class="mb-4 col-md-4">
        <h3 class="h5">Vos dernières réactions :</h3>
        {% for m in figure.messages %}
                <div class="p-2 rounded bg-light">
                    <p class="card-title h6"> {{ m.content }} </p>
                   <p class="card-title h6"> - {{ m.user.username }} </p>
                </div>
        {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
