{% extends 'base.html.twig' %}

{% block title %}Snow Tricks{% endblock %}

{% block body %}


<img class="img-fluid cover-image" src="../images/cover.jpeg" alt="Snow Tricks Accueil" />

<div class="wrapper">
    <h1 class="h4-perso m-4"> Les dernières figures qui font réagir ! &#x1F3C2; </h1>


     {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary-perso m-4" href="{{path('app_figure')}}">Ajouter une figure</a><br/>
     {% endif %}

    <div class="container row d-flex justify-content-sm-between mx-auto">
           {% for f in figures %}
                <div class="card mb-4 my-2 mx-2 p-0 col-md-2">
                    <a href="{{ path('app_figure_show', {'id': f.id}) }}" >

                    {% if f.filename == FALSE %}
                      <img class="img-fluid figure-image" src="https://user.oc-static.com/upload/2016/11/17/14793747168201_snowboard_neige_figure_saut_shutterstock_3516624621.jpg" class="card-img-top" alt="Illustration {{ f.name }}" />
                    {% else %}
                        <img class="img-fluid figure-image" src="../uploads/{{ f.filename }}" alt="Illustration {{ f.name }}" />
                    {% endif %}

                        <div class="card-body row">
                            <h2 class="card-title h4-perso"> {{ f.name }} </h2>
                            <div class="ml-auto">
                                <a href="{{ path('app_figure_edit', {'id': f.id}) }}"  class="btn">
                                    <img class="delete"  src="../images/edit.svg" alt="Editer" />
                                </a>

                                <a onclick="return confirm('Êtes-vous sûr(e) de supprimer ce trick ?')" href="{{ path('app_figure_delete', {'id': f.id}) }}"  class="btn mr-4">
                                    <img class="delete"  src="../images/delete.svg" alt="Supprimer" />
                                </a>
                            </div>
                        </div>
                    </a>


                </div>
            {% endfor %}
    </div>

</div>
{% endblock %}
