{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div>
        <a href="{{path('app_test')}}">Ajouter une personne</a><br/>

        {% for f in figures %}
        {{ f.name }}
        {{ f.difficulty }}
        <a href="{{ path('app_figure_edit', {'id': f.id}) }}">Editer</a>
        <a href="{{ path('app_figure_delete', {'id': f.id}) }}">Supprimer</a><br/>

        {% endfor %}
    </div>

</div>
{% endblock %}
