<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}


            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">

            <script src="https://kit.fontawesome.com/b63bb07c23.js" crossorigin="anonymous"></script>

           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

            <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>

        {% endblock %}

            {% block javascripts %}
				<!-- JavaScript Js -->
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

			{% endblock %}

    </head>

     {% if is_granted('ROLE_ADMIN') %}
    <nav class="navbar navbar-expand-lg navbar-light bg-perso-primary visible-desktop">
     {% else %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light visible-desktop">
     {% endif %}
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../images/logo-snow-tricks.svg" width="60" alt="Logo Snow Tricks" />
            </a>
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item border-right ml-2">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
                    </li>
                    <li class="nav-item border-right ml-2">
                        <a class="nav-link" href="{{ path('app_main') }}">Figures</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item border-right ml-2">
                        <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
                    </li> 
                    <li class="nav-item border-right ml-2">
                        <a class="nav-link" href="{{ path('app_admin') }}">Admin</a>
                    </li> {% else %}
                    <li class="nav-item border-right ml-2">
                        <a class="nav-link" href="{{ path('app_login') }}">Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if is_granted('ROLE_ADMIN') %}
    <nav class="visible-phone mobile-menu bg-perso-primary">
     {% else %}
    <nav class="visible-phone mobile-menu bg-light">
     {% endif %}
        <ul>
            <li class="nav-item ml-2">
                <a class="nav-link" href="{{ path('app_main') }}">
                     <img src="../images/house.svg" width="60" alt="Accueil" />
                </a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link" href="{{ path('app_logout') }}">
                    <img src="../images/snow.svg" width="60" alt="Accès aux tricks" />
                </a>
            </li> 
            <li class="nav-item ml-2">

             {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item ml-2">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <img src="../images/user.svg" width="60" alt="Accès à son compte" />
                        </a>
                    </li> {% else %}
                    <li class="nav-item ml-2">
                        <a class="nav-link" href="{{ path('app_login') }}">
                            <img src="../images/user.svg" width="60" alt="Accès à son compte" />
                        </a>
                    </li>
                    {% endif %}
            </li>
        </ul>
    </nav>

    <body>
        {% block body %}{% endblock %}
    </body>

</html>
